.card-number {
  max-width: 525px;
  height: 8vh;
  width: 70vw;
  margin: 25px auto;
  background-color: var(--secondcolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number h4 {
  font-size: 24px;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

@media screen and (max-width: 520px) {
  .card-number h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}
