* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --firstcolor: #848fa5;
  --secondcolor: #ffe347;
  --thirdcolor: #f4e3e4;
  --fourthcolor: #ef767a;
  --fifthcolor: #4c4c47;
}
